body{
    color: #444444;
    background-color: #9B2C2C;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: 12pt;
}

.container{
    padding: 8%;
    margin: 4% 6%;
    background-color: #fdfdfd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

h2{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}
